.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: var(--element);
  color: var(--text);
  -webkit-box-shadow: -1px 3px 0px -1px rgb(0 0 0 / 6%);
  .title {
    font-family: $f-nunino-bold;
    font-size: 1.5rem;
  }

  @include mq-small {
    padding: 2rem;
  }
}
