.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--element);
  color: var(--text);
  -webkit-box-shadow: -1px -3px 20px -3px rgb(0 0 0 / 25%);
  .title {
    font-family: $f-nunino-bold;
    font-size: 1.25rem;
  }
}
