.filter {
  position: relative;
  font-size: 1rem;
  line-height: 1.25rem;

  &__head {
    height: 2.25rem;
    width: 14vw;
    min-width: 150px;
    box-shadow: 0px 3px 13px 1px rgb(0 0 0 / 6%);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

    background: var(--element);
    color: var(--text);

    .icon-angle-down {
      position: absolute;
      right: 10px;
    }

    @include mq-small {
      width: 50vw;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    top: 62px;
    width: calc(100% - 20px);
    box-shadow: -1px -3px 20px -3px rgb(0 0 0 / 6%);
    border-radius: 4px;
    padding: 10px;
    background: var(--element);
    color: var(--text);

    &__backdrop {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 0;
    }

    ul {
      li {
        padding: 5px 0;
        cursor: pointer;
      }
    }
    &.active {
      display: block;
    }
  }

  @include mq-small {
    margin-top: 10px;
  }
}
