@import "./_fonts.scss";
// @import "./_variables.scss";

:root {
  font-family: "Nunito Sans", arial, sans-serif;
  .Light {
    --background: hsl(0, 0%, 98%);
    --text: hsl(200, 15%, 8%);
    --element: #f7f7f7;
  }
  .Dark {
    --background: hsl(207, 26%, 17%);
    --element: hsl(209, 23%, 22%);
    --text: hsl(0, 0%, 100%);
    --input: hsl(0, 0%, 52%);
  }
}
