
.icon-moon:before { content: '\e800'; } /* '' */
.icon-moon-inv:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
